<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<p-dialog
    [(visible)]="ticketDialog"
    header="Detalhes do ticket"
    [transitionOptions]="'100ms'"
    [modal]="true"
    styleClass="p-fluid"
>
    <ng-template pTemplate="content">
        <div class="field">
            <label for="protocol">Protocolo</label>
            <input
                type="text"
                pInputText
                id="protocol"
                [(ngModel)]="ticket.protocol"
                required
                autofocus
            />
            <small class="p-error" *ngIf="submitted && !ticket.protocol"
                >Protocolo é obrigatório.</small
            >
        </div>
        <div class="field">
            <label for="subject">Assunto</label>
            <input
                type="text"
                pInputText
                id="subject"
                [(ngModel)]="ticket.subject"
                required
                autofocus
            />
            <small class="p-error" *ngIf="submitted && !ticket.subject"
                >Assunto é obrigatório.</small
            >
        </div>

        <div class="field">
            <label for="complexity">Complexidade</label>
            <p-dropdown
                [(ngModel)]="ticket.complexity"
                inputId="complexity"
                [options]="complexity"
                placeholder="Selecione"
                appendTo="body"
                [required]="true"
            >
            </p-dropdown>
            <small class="p-error" *ngIf="submitted && !ticket.complexity"
                >Complexidade é obrigatória.</small
            >
        </div>
        <div class="field">
            <label for="priority">Prioridade</label>
            <p-dropdown
                [(ngModel)]="ticket.priority"
                inputId="priority"
                [options]="priority"
                placeholder="Selecione"
                appendTo="body"
                [required]="true"
            >
            </p-dropdown>
            <small class="p-error" *ngIf="submitted && !ticket.priority"
                >Prioridade é obrigatória.</small
            >
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="Cancelar"
            icon="pi pi-times"
            class="p-button-text"
            (click)="hideDialog()"
        ></button>
        <button
            pButton
            pRipple
            label="Salvar"
            icon="pi pi-check"
            class="p-button-text"
            (click)="saveTicket()"
        ></button>
    </ng-template>
</p-dialog>

<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toolbar styleClass="mb-4 gap-2">
                <ng-template pTemplate="left">
                    <button
                        pButton
                        pRipple
                        label="Novo"
                        icon="pi pi-plus"
                        class="p-button-success mr-2"
                        (click)="openNew()"
                    ></button>
                    <button
                        pButton
                        pRipple
                        label="Apagar"
                        icon="pi pi-trash"
                        class="p-button-danger"
                        (click)="deleteSelectedTickets()"
                        [disabled]="!selectedTickets || !selectedTickets.length"
                    ></button>
                </ng-template>
            </p-toolbar>

            <p-table
                #dtSale
                [rows]="10"
                [rowsPerPageOptions]="[10, 25, 50, 100]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Exibindo {first} de {last} registros / Total: {totalRecords} registros"
                [reorderableColumns]="true"
                [loading]="loading"
                [rowHover]="true"
                [(selection)]="selectedTickets"
                styleClass="p-datatable-gridlines"
                [paginator]="true"
                [columns]="_selectedColumns"
                sortMode="multiple"
                [value]="tickets"
                [resizableColumns]="true"
                columnResizeMode="expand"
                responsiveLayout="scroll"
                [globalFilterFields]="[
                    'protocol',
                    'subject',
                    'changedBy',
                    'createdBy',
                    'changedDate',
                    'createdDate',
                    'priority',
                    'complexity'
                ]"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex justify-content-between flex-column sm:flex-row"
                    >
                        <button
                            pButton
                            label="Limpar"
                            class="p-button-outlined mb-2"
                            icon="pi pi-filter-slash"
                            (click)="clear(dtSale)"
                        ></button>
                        <p-multiSelect
                            [options]="cols"
                            [(ngModel)]="selectedColumns"
                            optionLabel="header"
                            selectedItemsLabel="{0} colunas selecionadas"
                            [style]="{ 'min-width': '200px' }"
                            placeholder="Escolha as colunas"
                        ></p-multiSelect>
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                #filter
                                (input)="onGlobalFilter(dtSale, $event)"
                                placeholder="Buscar palavra-chave"
                                class="w-full"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 4rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th
                            pReorderableColumn
                            pResizableColumn
                            *ngFor="let col of columns"
                        >
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                {{ col.header }}
                                <p-columnFilter
                                    [type]="col.type"
                                    [field]="col.field"
                                    display="menu"
                                    placeholder="Buscar por {{ col.header }}"
                                ></p-columnFilter>
                            </div>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td>
                            <p-tableCheckbox
                                [value]="rowData"
                            ></p-tableCheckbox>
                        </td>
                        <td *ngFor="let col of columns">
                            {{
                                col.date
                                    ? (_(rowData, col.field)
                                      | date : col.format)
                                    : col.currency
                                    ? (_(rowData, col.field)
                                      | currency : col.coin)
                                    : _(rowData, col.field)
                            }}
                        </td>
                        <td>
                            <button
                                pButton
                                pRipple
                                icon="pi pi-pencil"
                                class="p-button-rounded p-button-success mr-2"
                                (click)="editTicket(rowData)"
                            ></button>
                            <button
                                pButton
                                pRipple
                                icon="pi pi-trash"
                                class="p-button-rounded p-button-warning"
                                (click)="deleteTicket(rowData)"
                            ></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
